<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      The Rick and Morty API by Vladimir Fernandez
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>

    </ion-toolbar>      
    <li>
      <ion-button>
        asdf
      </ion-button>
    </li>
  </ion-header>
  <div id="container">
    <strong>Menu</strong>
    <p>Episodes <a  rel="noopener noreferrer" href="episodes">ALL Episodes</a></p>
    <p>Characters <a  rel="noopener noreferrer" href="character">ALL Characters</a></p>

  </div>
  <div id="">
    <li>
      <a href="https://www.linkedin.com/in/vladimir-fernandez-9063731a9/">Linkedin</a>
    </li>
    <li>
        <a href="https://github.com/VlaSs0496">GitHub</a>
    </li>
    <li>
      <a icon="https://icon-library.com/images/repository-icon/repository-icon-18.jpg" href="https://github.com/VlaSs0496/ricky-morty-app">Repository this APP in GitHub</a>
    </li>
  </div>
</ion-content>
