<ion-header>
  <ion-toolbar>
    <ion-title>Character</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="character"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col sizeMd="4" offsetMd="4">
        <div *ngIf="character">
          <ion-card>
            <ion-card-content class="ion-text-center">
              <img src="{{character.image}}">
              <ion-card-title>
                Name: {{character.name}}
              </ion-card-title>
              <p>Status: {{character.status}}</p>
              <p>ID: {{character.id}}</p>
              <p>Create: {{character.created}}</p>
              <ion-list>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>